apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fas-propriedades-hpa
  namespace: fiapk8s
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fas-propriedades
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

