apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: usuarios-hpa
  namespace: fiapk8s
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: usuarios-api
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
