version: '3.8'
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - '6379:6379'

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - '2181:2181'

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: 'agrosolutions.sensor.readings.received.v1:3:1'
    volumes:
      - kafka-data:/var/lib/kafka/data

  ingestion-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ingestion-api
    depends_on:
      - mongodb
      - redis
      - kafka
    ports:
      - '8080:8080'
    environment:
      ASPNETCORE_URLS: http://+:8080
      Kafka__BootstrapServers: kafka:29092
      Kafka__Topic: agrosolutions.sensor.readings.received.v1
      Mongo__ConnectionString: mongodb://mongodb:27017
      Mongo__Database: agrosolutions
      Redis__ConnectionString: redis:6379
      ConnectionStrings__SqlServer: "Server=host.docker.internal,1433;Database=AgroSolutions;User ID=sa;Password=Your_strong_Passw0rd!;TrustServerCertificate=True;"
      Ingestion__ApiKey: "dev-local-key"

volumes:
  kafka-data:
    driver: local
  mongo-data:
    driver: local
