trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

  # Docker Hub
  dockerfilePath: 'Dockerfile'
  dockerHubServiceConnection: 'DockerHubServiceConnection'
  dockerImageName: '$(docker_hub_username)/fiapcloudgames-jogos'

  # Kubernetes (AKS)
  k8sServiceConnection: 'AKS-FIAP'
  k8sNamespace: 'fiapk8s'
  k8sManifestDir: 'k8s'

steps:
  - task: UseDotNet@2
    displayName: 'Instalar .NET SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  # Falha rápido se testes quebrarem
  - task: DotNetCoreCLI@2
    displayName: 'Executar testes'
    inputs:
      command: 'test'
      projects: '**/FCG.Tests.csproj'
      arguments: '--configuration $(buildConfiguration)'

  # BuildKit melhora caching
  - script: |
      echo "##vso[task.setvariable variable=DOCKER_BUILDKIT]1"
      echo "##vso[task.setvariable variable=COMPOSE_DOCKER_CLI_BUILD]1"
    displayName: 'Habilitar Docker BuildKit'

  # Build + Push com tag imutável (BuildId)
  - task: Docker@2
    displayName: 'Build e Push Docker image (BuildId)'
    inputs:
      containerRegistry: '$(dockerHubServiceConnection)'
      repository: '$(dockerImageName)'
      command: 'buildAndPush'
      dockerfile: '$(dockerfilePath)'
      tags: |
        $(Build.BuildId)

  # Garante que os manifests existem
  - script: |
      echo "Validando pasta de manifests: $(k8sManifestDir)"
      ls -la "$(k8sManifestDir)"
      test -f "$(k8sManifestDir)/deployment.yaml"
      test -f "$(k8sManifestDir)/service.yaml"
      test -f "$(k8sManifestDir)/hpa.yaml"
    displayName: 'Validar manifests Kubernetes'

  # Injeta a imagem (com BuildId) no deployment.yaml
  - script: |
      IMAGE="$(dockerImageName):$(Build.BuildId)"
      echo "Imagem final: $IMAGE"

      sed -i "s|__IMAGE__|$IMAGE|g" "$(k8sManifestDir)/deployment.yaml"

      echo "===== deployment.yaml (após replace) ====="
      cat "$(k8sManifestDir)/deployment.yaml"
    displayName: 'Injetar tag da imagem no deployment.yaml'

  # Apply no AKS (cria/atualiza Deployment/Service/HPA)
  - task: KubernetesManifest@1
    displayName: 'Deploy no AKS (apply manifests)'
    inputs:
      action: 'deploy'
      kubernetesServiceConnection: '$(k8sServiceConnection)'
      namespace: '$(k8sNamespace)'
      manifests: |
        $(k8sManifestDir)/deployment.yaml
        $(k8sManifestDir)/service.yaml
        $(k8sManifestDir)/hpa.yaml

  # Mostrar status pós-deploy
  - task: Kubernetes@1
    displayName: 'Status pós-deploy (pods/svc/hpa)'
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceEndpoint: '$(k8sServiceConnection)'
      namespace: '$(k8sNamespace)'
      command: 'get'
      arguments: 'pods,svc,hpa -o wide'