<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azfnfcg-f2cybsfjczfnhtc0.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1e47cf38-d06e-4ba4-ae08-e3cb8f2e6da0/resourceGroups/grFiap/providers/Microsoft.Web/sites/AzFnFCG</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azfnfcg-f2cybsfjczfnhtc0.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>