apiVersion: apps/v1
kind: Deployment
metadata:
  name: jogos-api
  namespace: fiapk8s
  labels:
    app: jogos-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jogos-api
  template:
    metadata:
      labels:
        app: jogos-api
    spec:
      containers:
        - name: jogos-api
          image: __IMAGE__

          imagePullPolicy: Always

          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 5

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"