# Diretórios de build e output
**/bin/
**/obj/
**/out/

# IDEs
**/.vs/
**/.vscode/
**/.idea/

# Sistema
**/.DS_Store

# Git
**/.git/

# Testes/coverage
**/TestResults/
**/coverage/

# Configs locais
**/appsettings.Development.json
**/launchSettings.json

